@font-face {
    font-family: Roboto;
    src: local(Roboto-Regular), url(../fonts/Roboto-Regular.ttf) format('truetype');
}
@font-face {
    font-family: Roboto-Medium;
    src: local(Roboto-Medium), url(../fonts/Roboto-Medium.ttf) format('truetype');
}

:root {
    --header-font: 'Roboto-Medium';
    --button-font: 'Roboto';
    --header-size: 1.1em;
}

/*styling for tag*/
h1 {
    padding: 0%;
    margin: 0%;
    font-family: var(--header-font);
    font-size: var(--header-size);
    color: 2E2;
}

button {
    font-family: var(--button-font);
    font-size: 1em;
    width: calc(100% - 0vw);
    display: flex;
    align-items: center ;
    padding: 0em 0em 0em 1.5em;
    margin: 0%;
}



/*sidebar*/
.sideBar {
    height: 100vh;
    width: 180px;
    background-color: ;#fffcf6
    padding: 0em 1em 0em 1em;
    display: flex;
    flex-direction: column;
    border-radius: 0 1em 1em 0;
    box-shadow: rgba(0, 0, 0, 0.1) 2px 0 8px;
    font-family: var(--button-font);
}

.logo {
    width: 2.5em;
    height: 2.5em;
    background-color: transparent;
    padding: 0%;
    margin: 1em 0em 3em 0em;
}

.sideBar-content {
    padding-top: 1em;

}

.sideBar-section {
    margin-bottom: 0.5em;
    padding: 0;
}

.sideBar-section button {
    background: none;
    border: none;
    text-align: left;
    font-size: 0.95em;
    padding: 0.2em 1em;
    display: flex;
    align-items: center;
    gap: 0.5em;
    border-radius: 0.5em;
    cursor: pointer;
    color: #111;
    transition: background-color 0.2s ease;
}

.sideBar-section button:hover,
.sideBar-section button.active {
    background-color: #ffefcc;
    font-family: var(--header-font);
}

.sideBar-footer {
    padding-bottom: 1em;
    position: absolute;
    bottom: 0%;
}
