@font-face {
    font-family: Roboto;
    src: local(Roboto-Regular), url(../fonts/Roboto-Regular.ttf) format('truetype');
}
@font-face {
    font-family: Roboto-Medium;
    src: local(Roboto-Medium), url(../fonts/Roboto-Medium.ttf) format('truetype');
}

:root {
    --header-font: 'Roboto-Medium';
    --button-font: 'Roboto';
    --header-size: 1.2em;
}

/*styling for tag*/
h1 {
    padding: 0%;
    margin: 0%;
    font-family: var(--header-font);
    font-size: var(--header-size);
}

button {
    font-family: var(--button-font);
    font-size: 1em;
    width: calc(100% - 0vw);
    display: flex;
    align-items: center ;
    padding: 0em 0em 0em 1.5em;
    margin: 0%;
}



/*---------------------------------------*/
.sideBar {
    height: calc(100vh - 0vh);
    width: calc(100vw - 70vw);
    background-color: #fffcf6;
    margin: 0%;
    padding: 0%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}

.sideBar-content {
    padding: 3em 0em 0em 0.2em;
}

.sideBar-section {
    margin: 0%;
    display: flex;
    flex-direction: column;
    padding: 4%;
}